{% extends 'template.html.twig' %}

{% block body %}
    <table class="table table-dark table-striped table-hover">
        {% set sumnotes = 0 %}
        <thead>
            <tr>
                <th >Num</th>
                <th >Notes</th>
            </tr>
        </thead>
        <tbody> 
            {% for i, note in notes %} 
                <tr>
                    <td>{{ i+1 }}</td>
                    <td>{{ note }}</td>
                </tr>
                {% set sumnotes = sumnotes + note %}
            {% endfor %}
        </tbody>
    </table>
    <div class="alert alert-info">
        <p>Nombre de notes : {{ notes | length }}</p>
        <p>Note minimale : {{ min(notes) }}</p>
        <p>Note maximale : {{ max(notes) }}</p>
        <p><strong>Moyenne de la classe : {{  (sumnotes / notes|length) | round(2)}}</strong></p> 
    </div>    
{% endblock %}