{% extends "template.html.twig" %}

{% block body %}    
    <table class="table">
        {% set sumnotes = 0 %}

        {% for note in notes %}
            <tr>
                <td>{{ note }}</td>
            </tr>
        {% set sumnotes = sumnotes + note %}
        {% endfor %}   
    </table>

    <div class="alert alert-info">
        <p>Nombre de notes : {{ notes | length }}</p>  
        <p>Note minimale : {{ min(notes) }}</p>  
        <p>Note maximale : {{ max(notes) }}</p>
        <p><strong>Moyenne de la classe : {{  (sumnotes / notes|length) | round(2)}}</strong></p> 
    </div> 
{% endblock %}