{% extends 'template.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block pageTitle %}
    Users
{% endblock %}

{% block body %}
    {{ include('fragments/date-jour.html.twig') }}
    <div class="alert alert-warning">
        <a href="{{ path('tab', { nb: 7}) }}">Stats Table</a>
    </div>
    <table class="table table-danger table-striped table-hover">
        <tr class="table-light">
            <th>Firstname</th>
            <th>Name</th>
            <th>Age</th>
            <th>Message</th>
        </tr>
        <tbody> 
            {% for user in users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.age }}</td>
                    <td>
                        {{ render(controller('App\\Controller\\FirstController::sayHello', {firstname: user.firstname, name: user.name})) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}